body {
  font-family: "Poppins", sans-serif;
}

header {
  background-color: white;
  padding: 1.25rem;
  box-shadow: 0px 0px 70px rgba(102, 102, 102, 0.2);
}
header .logo {
  margin-bottom: 20px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
}
header .logo h1 {
  font-size: 1.875rem;
}

.logo .iniciales-logo {
  padding: 0.3125rem;
  border: 2px solid #000;
  display: inline-block;
  font-size: 16px;
  margin-bottom: 15px;
}

.contenedor-div {
  justify-content: center;
  color: #000;
}

a:active {
  color: #000;
}
a:active:hover {
  color: orange;
  background-color: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

th {
  color: orange;
}

a:visited {
  color: black;
}
a:visited:hover {
  color: orange;
  background-color: #ffffff;
}

a:active {
  color: orange;
}

a:link {
  text-decoration: none;
}

.header {
  background-color: #ffffff;
  padding: 1.25rem;
  box-shadow: 0px 0px 70px rgba(102, 102, 102, 0.2);
}
.header .logo {
  margin-bottom: 20px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
}
.header .logo h1 {
  font-size: 1.875rem;
}

.logo .iniciales-logo {
  padding: 0.3125rem;
  border: 2px solid #000;
  display: inline-block;
  font-size: 16px;
  margin-bottom: 15px;
}

.portada-bienvenida {
  justify-content: center;
}
.portada-bienvenida img {
  width: 100%;
  height: 100%;
}

.contenedor-texto {
  justify-content: space-around;
}
.contenedor-texto .titulo-bienvenida {
  margin-bottom: 10px;
  font-size: 1.5625rem;
  font-weight: 400;
  text-align: center;
}
.contenedor-texto .texto-descripcion {
  font-size: 1.25rem;
  font-weight: 300;
  color: #464849;
  text-align: center;
}
.contenedor-texto .saludo {
  text-align: end;
  color: orange;
}

#actividades-fisicas h3 {
  padding: 0.5625rem;
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  color: #000;
}

.actividades-1, .actividades-4, .actividades-3, .actividades-2 {
  padding: 1.25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.actividades-1 h4, .actividades-4 h4, .actividades-3 h4, .actividades-2 h4 {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1rem;
}
.actividades-1:hover, .actividades-4:hover, .actividades-3:hover, .actividades-2:hover {
  transform: scale(1.2);
}

.contenedor-act {
  padding: 1rem;
  width: 100%;
  display: flex;
  align-items: center;
}
.contenedor-act img {
  object-fit: cover;
  width: 100%;
  height: 200px;
}

.horarios-clases {
  padding: 1.25rem;
  display: flex;
  flex-direction: column;
  grid-area: info;
}

.titulo-horarios {
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  padding: 0.625rem;
  padding-bottom: 2.5rem;
}

.tabla-horarios {
  font-family: "Poppins", sans-serif;
  font-size: 1.25rem;
  text-align: center;
}

.tituloPrincipal {
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  padding: 0.625em;
}

.tituloDiv {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-size: 1.25rem;
  padding: 0.625em;
}

.subtituloDiv {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-size: 1rem;
  padding: 0.625em;
}
.subtituloDiv .spanNew {
  font-weight: bold;
  color: orange;
}

.textos {
  font-family: "Poppins", sans-serif;
  padding: 0.625em;
}

.linea {
  width: 50%;
  justify-content: center;
  align-items: center;
}

.imagen1-funcional, .imagen4-zumba, .imagen3-natacion, .imagen2-musculacion {
  width: 80%;
  height: 80%;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

input:focus {
  background-color: rgba(70, 72, 73, 0.2274509804);
}

#tituloForm {
  text-align: center;
  background: linear-gradient(120deg, rgba(211, 207, 207, 0.9176470588) 0%, rgba(136, 136, 136, 0.7529411765) 100%);
  padding: 0.625em;
}

.subTexto {
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
}

.inicioForm {
  background: linear-gradient(120deg, rgba(238, 235, 235, 0.4784313725) 0%, #f4f6f7 100%);
}

.tituloTarjeta {
  font-family: "Poppins", sans-serif;
  color: orange;
  font-weight: normal;
  font-size: 1.25rem;
  padding-left: 0.625em;
  text-align: center;
}
.tituloTarjeta .textos {
  justify-content: center;
  align-items: center;
}

h2 {
  font-family: "Poppins", sans-serif;
}

p {
  font-family: "Poppins", sans-serif;
}

.separador {
  background-color: rgba(180, 180, 180, 0.521);
  height: 40px;
}

.ubicacion {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ubicacion .tituloUbi {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  text-align: center;
  color: orange;
}

.carousel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.carousel img {
  width: 100%;
  height: 50%;
}

.inicioUbi {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.inicioUbi .tituloUbi {
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  text-align: center;
}

.card-saludo {
  text-align: center;
  font-size: 1rem;
}

.contenedor-saludo {
  width: 55%;
  align-items: center;
  justify-content: center;
}

footer {
  background-color: rgba(180, 180, 180, 0.521);
  width: 100%;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
}
footer .contenedor-f {
  display: grid;
  grid-template-columns: repeat(3, 15vh);
  grid-template-areas: "ubicacion info redes";
  flex-direction: column;
  justify-content: space-between;
}
footer .contenedor-f .ubicacion {
  grid-area: ubicacion;
}
footer .contenedor-f .info {
  grid-area: info;
}
footer .contenedor-f .red-social {
  grid-area: redes;
}
footer .titulos-footer {
  font-weight: bold;
  font-size: 0.8em;
}

.bi-youtube {
  color: red;
}

.bi-instagram {
  color: brown;
}

@media (max-width: 1024px) {
  .header {
    padding: 1.25rem;
    box-shadow: 0px 0px 70px rgba(102, 102, 102, 0.2);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 12vh);
    grid-template-areas: "logo logo" "nav nav";
  }
  .header .logo {
    margin-bottom: 20px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    grid-area: logo;
  }
  .header .logo h1 {
    font-size: 1.25rem;
    text-align: center;
  }
  .logo .iniciales-logo {
    padding: 0.3125rem;
    border: 2px solid #000;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 15px;
  }
  .contenedor-div {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
  }
  .grid {
    grid-area: nav;
  }
  .contenedor-nav {
    flex-wrap: nowrap;
  }
}
@media (min-width: 1024px) {
  a:active {
    color: black;
  }
  .header {
    padding: 1.25rem;
    box-shadow: 0px 0px 70px rgba(102, 102, 102, 0.2);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 12vh);
    grid-template-areas: "logo logo" "nav nav";
  }
  .header .logo {
    margin-bottom: 20px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    grid-area: logo;
  }
  .header .logo h1 {
    font-size: 1.25rem;
    text-align: center;
  }
  .header .contenedor-div {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
  }
  .header .grid {
    grid-area: nav;
  }
  .header .grid a {
    color: #000;
  }
  .header .grid a:hover {
    color: orange;
  }
  .logo .iniciales-logo {
    padding: 0.3125rem;
    border: 2px solid #000;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 15px;
  }
  #actividades-fisicas {
    display: grid;
    grid-template-columns: 35vh 1fr;
    grid-template-rows: 60vh;
    grid-template-areas: "titulo act";
  }
  #actividades-fisicas h3 {
    transform: rotate(-90deg);
    grid-area: titulo;
  }
  .contenedor-act {
    grid-area: act;
  }
  .horarios-clases {
    display: grid;
    grid-template-columns: 35vh 1fr;
    grid-template-rows: 50vh;
    grid-template-areas: "titulo hora";
  }
  .titulo-horarios {
    transform: rotate(-90deg);
    grid-area: titulo;
  }
  .tabla-horarios {
    grid-area: hora;
  }
  .arreglos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: "img-funcional texto" "img-musculacion texto1" "img-natacion texto2" "img-zumba texto3";
  }
  .imagen1-funcional, .imagen2-musculacion, .imagen3-natacion, .imagen4-zumba {
    grid-area: img-funcional;
    object-fit: cover;
  }
  .funcional {
    grid-area: texto;
  }
  .imagen2-musculacion {
    grid-area: img-musculacion;
    object-fit: cover;
  }
  .musculacion {
    grid-area: texto1;
  }
  .imagen3-natacion {
    grid-area: img-natacion;
    object-fit: cover;
  }
  .natacion {
    grid-area: texto2;
  }
  .imagen4-zumba {
    grid-area: img-zumba;
    object-fit: cover;
  }
  .zumba {
    grid-area: texto3;
  }
}
@media (min-width: 768px) {
  .navbar-toggler {
    padding: 4px 10px;
    font-size: 20px;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    transition: box-shadow 0.15s ease-in-out;
  }
}
@media (max-width: 768px) {
  .header {
    display: grid;
    grid-template-columns: 15vh 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "nav logo";
  }
  .header .logo {
    grid-area: logo;
  }
  .grid {
    grid-area: nav;
  }
  .header .logo h1 {
    font-size: 0.9375rem;
  }
  .mainIndex {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "portada portada" "info info" "footer footer";
  }
  nav ul {
    display: flex;
    justify-content: space-around;
    font-size: 1rem;
  }
  .contenedor-img img {
    width: 100%;
    height: 100%;
  }
  .texto-descripcion {
    font-size: 1rem;
    font-weight: 300;
    margin-bottom: 20px;
    display: flex;
    text-align: center;
  }
  .navbar {
    height: 50%;
  }
  .navbar-toggler {
    padding: 4px 10px;
    font-size: 20px;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    transition: box-shadow 0.15s ease-in-out;
  }
  .navbar-collapse {
    background-color: white;
    border: 1px solid black;
  }
  iframe {
    width: 50%;
    height: 50%;
  }
  .portada-bienvenida {
    z-index: 10;
  }
  #actividades-fisicas {
    display: grid;
    grid-template-columns: 100vh;
    grid-template-rows: repeat(20vh, 1fr);
    grid-template-areas: "actividades" "contenedor-act";
  }
  h3 {
    grid-area: actividades;
  }
  .contenedor-act {
    grid-area: contenedor-act;
    justify-content: space-around;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "funcional musculacion" "natacion zumba";
  }
  .actividad-1 {
    grid-area: funcional;
  }
  .actividad-2 {
    grid-area: musculacion;
  }
  .actividad-3 {
    grid-area: natacion;
  }
  .actividad-4 {
    grid-area: zumba;
  }
}
@media (max-width: 620px) {
  #actividades-fisicas {
    display: grid;
    grid-template-columns: 95vh;
    grid-template-rows: repeat(20vh, 1fr);
    grid-template-areas: "actividades" "contenedor-act";
  }
  h3 {
    grid-area: actividades;
    font-size: 1.2rem;
  }
  .contenedor-act {
    grid-area: contenedor-act;
    justify-content: space-evenly;
    display: grid;
    grid-template-columns: 30vh 30vh;
    grid-template-rows: repeat(2, 60vh);
    grid-template-areas: "funcional musculacion" "natacion zumba";
  }
  .actividad-1 {
    grid-area: funcional;
    width: 130%;
    height: 90%;
  }
  .actividad-2 {
    grid-area: musculacion;
    width: 130%;
    height: 90%;
  }
  .actividad-3 {
    grid-area: natacion;
    width: 130%;
    height: 90%;
  }
  .actividad-4 {
    grid-area: zumba;
    width: 130%;
    height: 90%;
  }
}
@media (max-width: 320px) {
  .header {
    display: grid;
    grid-template-columns: 15vh 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "nav logo";
  }
  .header .logo {
    grid-area: logo;
  }
  .grid {
    grid-area: nav;
  }
  .navbar-collapse {
    background-color: white;
    border: 1px solid black;
  }
  .tabla-horarios {
    font-size: 0.5rem;
  }
  .horarios-clases {
    padding: 0.625rem;
  }
  .titulo-horarios {
    font-family: "Poppins", sans-serif;
    font-size: 1.2rem;
    padding: 0.625rem;
  }
  .portada-bienvenida {
    border: 1px solid black;
    display: grid;
    grid-template-columns: 35rem;
    grid-template-rows: repeat(2, 30vh);
    grid-template-areas: "titulo" "descripcion" "img";
  }
  .portada-bienvenida .contenedor-texto {
    padding: 10px;
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .titulo-bienvenida {
    grid-area: titulo;
    font-size: 1.2rem;
    display: flex;
    text-align: center;
  }
  .texto-descripcion {
    grid-area: descripcion;
    font-size: 0.7rem;
    margin-bottom: 10px;
    display: flex;
    text-align: center;
  }
  .contenedor-img img {
    grid-area: img;
    height: 80%;
    width: 57%;
    display: flex;
  }
  /* ACTIVIDADES */
  #actividades-fisicas {
    display: grid;
    grid-template-columns: 100vh;
    grid-template-rows: repeat(20vh, 1fr);
    grid-template-areas: "actividades" "contenedor-act";
  }
  h3 {
    grid-area: actividades;
    font-size: 1.2rem;
  }
  .contenedor-act {
    grid-area: contenedor-act;
    display: grid;
    grid-template-columns: 30vh 30vh;
    grid-template-rows: repeat(2, 60vh);
    grid-template-areas: "funcional musculacion" "natacion zumba";
  }
  .actividad-1 {
    grid-area: funcional;
    width: 130%;
    height: 70%;
  }
  .actividad-2 {
    grid-area: musculacion;
    width: 130%;
    height: 70%;
  }
  .actividad-3 {
    grid-area: natacion;
    width: 130%;
    height: 70%;
  }
  .actividad-4 {
    grid-area: zumba;
    width: 130%;
    height: 70%;
  }
  .header .logo {
    margin-bottom: 10px;
    text-align: center;
    letter-spacing: 2px;
  }
  .header .logo h1 {
    font-size: 0.9375rem;
  }
  .logo .iniciales-logo {
    padding: 5px;
    display: inline-block;
    font-size: 0.625rem;
    margin-bottom: 15px;
  }
  nav ul {
    display: flex;
    justify-content: space-around;
    font-size: 0.6rem;
  }
  footer {
    width: 100%;
    font-size: 0.9rem;
    text-align: center;
    align-items: center;
  }
  footer .contenedor-f {
    display: flex;
    flex-direction: column;
  }
  footer .contenedor-f .titulos-footer {
    font-weight: bold;
    font-size: 0.8em;
    text-align: center;
    align-items: center;
  }
  .tituloPrincipal {
    font-size: 1.5rem;
  }
  .tituloDiv {
    font-size: 1rem;
  }
  .subtituloDiv {
    font-size: 0.9rem;
  }
  .textos {
    font-size: 0.8rem;
  }
  .main-actividades img {
    width: 100%;
  }
  .subTexto {
    font-size: 1.8rem;
  }
  form {
    text-align: center;
    font-size: 0.8rem;
  }
  .tituloTarjeta {
    font-size: 1rem;
  }
  .inicioUbi img {
    padding: 20px;
    width: 100%;
  }
  .inicioUbi .tituloUbi {
    font-size: 1.5rem;
  }
  .clickUbi {
    font-size: 0.8rem;
  }
  .navbar-toggler {
    padding: 4px 10px;
    font-size: 20px;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    transition: box-shadow 0.15s ease-in-out;
  }
  iframe {
    width: 50%;
    height: 50%;
  }
}
@media (min-width: 320px) {
  #actividades-fisicas {
    overflow-x: scroll;
  }
}
@media (max-width: 1000px) {
  .header {
    display: grid;
    grid-template-columns: 15vh 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "nav logo";
  }
  .header .logo {
    grid-area: logo;
  }
  .grid {
    grid-area: nav;
  }
}

/*# sourceMappingURL=style.css.map */
