*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

ul,
ol{
    list-style-type: none;
}

body{
    font-family:'Poppins', sans-serif;
}

th{
    color: orange;
}






/*  BARRA DE NAVEGACION  */

a:visited{
    color: black;

}

a:active{
    color: orange;
}

.header{
    background-color: #ffffff;
    padding: 1.25rem;
    box-shadow: 0px 0px 70px rgba(131, 130, 130, 0.2);
}

.header .logo {
	margin-bottom: 20px;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 3px;
}


.logo h1{
    
    font-size: 1.875rem;
}

.logo .iniciales-logo {
	padding: 0.3125rem;
	border: 2px solid #000;
	display: inline-block;
	font-size: 16px;
	margin-bottom: 15px;
}








/* PORTADA */

.portada-bienvenida{
    display: flex;
	background:  linear-gradient(120deg, #dfdada 0%, #e8ebec 100%);;
    box-shadow: 0px 0px 70px rgba(102, 102, 102, 0.2);

    margin-left: 10px;

    
}

.portada-bienvenida .contenedor-texto{
    padding: 1.25rem;
    width: 50%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}

.titulo-bienvenida{
    margin-bottom: 10px;
    font-size: 1.5625rem;

    font-weight: 400;

    text-align: center;
}

.contenedor-img img{
    width: 100%;
    height: 100%;

    object-fit: cover;
    
}

.texto-descripcion{
    font-size: 1.25rem;
    font-weight: 300;

    margin-bottom: 20px;
    color:  #464849;
}

.portada-bienvenida .contenedor-img a{
    display: inline-block;
	width: 100%;
	height: 100%;
}


/*   INFORMACION   */

     /* ----actividades---- */




#actividades-fisicas h3{
    padding: 0.5625rem;

    font-family: 'Poppins', sans-serif;
    font-size: 2rem;

}

.actividades{
    padding: 1.25rem;
    border: 1px solid black;

    background-color:ghostwhite;

    box-shadow:0px 0px 70px rgba(102, 102, 102, 0.2); ;
   

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

    min-width:15.625rem;
    margin: 0 20px;
}







.contenedor-act{

    padding: 1.25rem;
    width:15.625rem;

    display: flex;
    align-items: center;
    
    
    
}



.actividades h4{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}
.actividades img{
    width: 100%;
}

.actividades:hover{
    transform: scale(1.2);
}

 /* ACTIVIDADES HTML*/

.main-actividades > img{
    object-fit: cover;
}

.main-actividades{
    display: grid;
    
    grid-template-rows: 15vh repeat(4,70vh);
    
    
}

article{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    

}

article > img{
    object-fit: contain;
}

.funcional{
    grid-column: 2 / 3;
    grid-row: 1 ;
}

.imagen1-funcional{
    
    grid-column: 1 / 2;
    grid-row: 1;

    padding: 20px;



}

.musculacion{
    grid-column: 2 / 3;
    grid-row: 2;
}

.imagen2-musculacion{
    grid-column: 1 / 2;
    grid-row: 1;

    padding: 20px;
}

.natacion{
    grid-column: 2 / 3;
    grid-row: 3;
}

.imagen3-natacion{
    padding: 20px;

    grid-column: 1 / 2;
    grid-row: 3;

    
    
}

.zumba{
    grid-column: 2 / 3;
    grid-row: 4;
}

.imagen4-zumba{
    padding: 20px;

    grid-column: 1 / 2;
    grid-row: 4;

    width: 100%;
    height: 100%;
    
}



 .tituloPrincipal{
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;

    padding: 0.625em;
}

.tituloDiv{
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    font-size: 1.25rem;

    padding: 0.625em;

    
}

.spanNew{
    font-weight: bold ; color: orange;
}

.subtituloDiv{
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    font-size: 1rem;

    padding: 0.625em;

    
}

.textos {
    font-family: 'Poppins', sans-serif;

    padding: 0.625em;

    
}


  /* --- horarios ---*/

.horarios-clases{
    padding: 1.25rem;

    display: flex;
    flex-direction: column;

    grid-area: info;
}

.titulo-horarios{
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;

    padding: 0.625rem;
    padding-bottom: 2.5rem;

    
}

.tabla-horarios{
    font-family: 'Poppins', sans-serif;
    font-size: 1.25rem;
    text-align: center;
}


/* FORMULARIO/CONTACTO HTML */

input:focus{
    background-color: #4648493a;
}




#tituloForm{
    text-align: center;
    background: linear-gradient(120deg, #d3cfcfea 0%, #888888c0 100%);
    padding: 0.625em;
    
}
.subTexto{
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
}

.inicioForm{
    background: linear-gradient(120deg, #eeebeb7a 0%, #f4f6f7 100%);
    
}



/*  NOSOTROS HTML  */


.tituloTarjeta{
    font-family: 'Poppins', sans-serif; color: orange;
    font-weight: normal;
    font-size: 1.25rem;

    padding-left: 0.625em;

    text-align: center;
}


/* MAIN UBICACION */
.tituloUbi{
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    text-align: center;
}

.inicioUbi{
    text-align: center;
}

.clickUbi{
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    text-align: center; 
}


/*   FOOTER   */

footer{
    width: 100%;
    
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    
    grid-area: footer;
}



.titulos-footer{
    font-weight: bold;
    font-size: 0.8em;
}

.contenedor-f{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    
}


@media(min-width:768px){
    .navbar-toggler{
        padding: 4px 10px;
        padding-bottom: 50%;
        font-size: 20px;
        line-height: 1;
        background-color: transparent;
        border: 1px solid transparent;
        border-radius: 0.25rem;
        transition: box-shadow 0.15s ease-in-out;
     }
}

@media (max-width:768px){

    .header .logo h1{
        font-size: 0.9375rem;
    }

    .mainIndex{
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(3,1fr);
    grid-template-areas: 
    "portada portada"
    "info info"
    "footer footer";
    }
    
    nav ul {
        display: flex;
        justify-content: space-around;
        font-size: 1rem;
    }

    .actividades{

        margin: 0 10px;
        display:flex;
        min-width:10.3125rem;
        
    }


    .contenedor-img img{
        width: 100%;
        height: 100%;
    }

    .texto-descripcion{
        font-size: 1rem;
        font-weight: 300;

        margin-bottom: 20px;
        display: flex;
        text-align: center;
    }

    .navbar{
        height: 50%;
    }

    .navbar-toggler{
        padding: 4px 10px;
        
        font-size: 20px;
        line-height: 1;
        background-color: transparent;
        border: 1px solid transparent;
        border-radius: 0.25rem;
        transition: box-shadow 0.15s ease-in-out;



     }

    
}





@media (max-width:320px){
    /* HORARIOS*/
    .tabla-horarios{
        display: flex;
        text-align: center;
        flex-direction: column;

        font-size: 0.5rem;
    }

    .horarios-clases{
        padding: 0.625rem;
    
        display: flex;
        flex-direction: column;
    
       
    }
    
    .titulo-horarios{
        font-family: 'Poppins', sans-serif;
        font-size: 1.2rem;
    
        padding: 0.625rem;
    }
    
    

    /* portada */

    .portada-bienvenida{

        

        border: 1px solid black;
        display: grid;

        grid-template-columns: 35rem;
        grid-template-rows: repeat(2,30vh) ;

        grid-template-areas: 
        "titulo"
        "descripcion"
        "img";
    }

    .portada-bienvenida .contenedor-texto{
        padding: 10px;
        width: 55%;
    
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .titulo-bienvenida{
        grid-area:titulo;
        font-size: 1.2rem;
        display:flex;
        text-align: center;

        
    }

    .texto-descripcion{
        grid-area:descipcion;
        font-size: 0.7rem;

        margin-bottom: 10px;

        display: flex;
        text-align: center;
    }



    .contenedor-img img{
        grid-area:img;
        height: 80%;
        width: 57%;

        display: flex;
        

    }
    
    
    /* ACTIVIDADES */
    #actividades-fisicas h3{
        font-size: 1.2rem;
    }

    .actividades{
        padding: 15px;
        border: 1px solid black;
        border-radius:10px;

        display: flex;
        flex-direction: column;
        justify-content: center;

        min-width:200px;
        margin: 0 10px;


    }
    
    .contenedor-act{
        overflow-x:scroll;
        width: 100%;

       
    }

    /* HEADER-NAV*/
    .header .logo {
        margin-bottom: 10px;
        
        text-align: center;
        letter-spacing: 2px;
    }
    
    
    .logo h1{
        
        font-size: 0.9375rem;
    }
    
    .logo .iniciales-logo {
        padding: 5px;
       
        display: inline-block;
        font-size: 0.625rem;
        margin-bottom: 15px;
    }
    
    nav ul {
        display: flex;
        justify-content: space-around;
        font-size: 0.6rem;
    }

   /*FOOTER*/
    footer{
        width: 100%;
        
        font-size: 0.9rem;
       
        text-align: center;
        align-items: center;

    }

    
    
    .titulos-footer{
        font-weight: bold;
        font-size: 0.8em;

        text-align: center;
        align-items: center;
    }
    
    .contenedor-f{

        grid-template-columns: repeat(3,1fr);
        display: grid;
        flex-direction: column;
        justify-content: space-around;

        
    }
    
    /*actividades html*/
    .tituloPrincipal{
        font-size: 1.5rem;
    }

    .tituloDiv{
        font-size: 1rem;
    }

    .subtituloDiv{
        font-size: 0.9rem;
    }

    .textos{
        font-size: 0.8rem ;
    }

    .main-actividades img{
        width: 100%;

    }

    /*contacto*/

    
    
    .subTexto{
       
        font-size: 1.8rem;
    }

    form{
        
        text-align: center;
        font-size: 0.8rem;
    }
    
    /*nosotros*/

    

    .tituloTarjeta{
        
        font-size: 1rem;
    
        
    }


    /* ubicacion */

    .inicioUbi img{

        padding: 20px;
        width: 100%;
    }

    .tituloUbi{
        
        font-size: 1.5rem;
        
    }
    
    
    
    .clickUbi{
        
        font-size: 0.8rem;
        
    }


    .navbar-toggler{
        padding: 4px 10px;
        
        font-size: 20px;
        line-height: 1;
        background-color: transparent;
        border: 1px solid transparent;
        border-radius: 0.25rem;
        transition: box-shadow 0.15s ease-in-out;
        align-items: center;
        justify-content: center;
     }
}

@media (max-width:1024px){
    

    .header{
        padding: 1.25rem;
        box-shadow: 0px 0px 70px rgba(102, 102, 102, 0.2);

        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2,12vh);
        grid-template-areas: 
        "logo logo"
        "nav  nav";

        
    }
    
    .header .logo {
        margin-bottom: 20px;
        text-transform: uppercase;
        text-align: center;
        letter-spacing: 3px;

        grid-area: logo;

    
        
    }
    
    
    .logo h1{
        
        font-size: 1.25rem;
        text-align: center;
    }
    
    .logo .iniciales-logo {
        padding: 0.3125rem;
        border: 2px solid #000;
        display: inline-block;
        font-size: 16px;
        margin-bottom: 15px;
    }


    .contenedor-nav{
        
        flex-wrap: nowrap;
    }
    
    

    

  

    

    

    


    .contenedor-img img{
        height: 100%;
        width: 100%;
    }





    .actividades {
        
        
   

       display: flex;
    
       justify-content: space-around;
       align-items: center;
    

       min-width:230px;
       margin: 0 10px;

    }

    
}


@media (min-width:1024px) {
    a:active{
        color: black;
    
    }
   

    
    .header{
        padding: 1.25rem;
        box-shadow: 0px 0px 70px rgba(102, 102, 102, 0.2);

        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2,12vh);
        grid-template-areas: 
        "logo logo"
        "nav  nav";

       
    }
    
    .header .logo {
        margin-bottom: 20px;
        text-transform: uppercase;
        text-align: center;
        letter-spacing: 3px;

        grid-area: logo;

    
        
    }
    
    
    .logo h1{
        
        font-size: 1.25rem;
        text-align: center;
    }
    
    .logo .iniciales-logo {
        padding: 0.3125rem;
        border: 2px solid #000;
        display: inline-block;
        font-size: 16px;
        margin-bottom: 15px;
    }
    
    .contenedor-div{
       grid-area: nav;
       
       display: flex;
       flex-wrap: nowrap;

    }

    


    .portada-bienvenida{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: 1fr;
        grid-template-areas: 
        "titulo img";
    }

    .contenedor-texto{
        grid-area: titulo;
    }

    .contenedor-img{
       grid-area: img;
    }


    #actividades-fisicas{
        display: grid;

        grid-template-columns: 35vh 1fr;
        grid-template-rows: 40vh;
        grid-template-areas: 
        "titulo act";
    }

    .section-act h3{
        transform: rotate(-90deg);
        grid-area: titulo;

        

    }

    .contenedor-act{
        grid-area: act;
    }


    .horarios-clases{
        display: grid;
        grid-template-columns: 35vh 1fr;
        grid-template-rows: 40vh;
        grid-template-areas: 
        "titulo hora";

    }

    .titulo-horarios{
        transform: rotate(-90deg);
        grid-area: titulo;

        
    }


    .tabla-horarios{
        grid-area: hora;

    }
    
    

  

    

    

    


    





    .actividades {
        
        
   

       display: flex;
    
       justify-content: space-around;
       align-items: center;
    

       min-width:230px;
       margin: 0 10px;

    }

    

    
}

