@media (max-width:1024px){

    .header{
        padding: 1.25rem;
        box-shadow:$box-shadow;

        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2,12vh);
        grid-template-areas: 
        "logo logo"
        "nav nav";

        .logo {
            margin-bottom: 20px;
            text-transform: uppercase;
            text-align: center;
            letter-spacing: 3px;
    
            grid-area: logo;

            h1{
        
                font-size: 1.25rem;
                text-align: map-get($estilos,centro);
            }
    
        
            
        }

        
    }
    
     
    .logo .iniciales-logo {
        padding: 0.3125rem;
        border: 2px solid #000;
        display: inline-block;
        font-size: 16px;
        margin-bottom: 15px;
    }

    .contenedor-div{
        border-top: $border-card;
        border-bottom: $border-card;
    }

    .grid{
        grid-area: nav;
        
    }



    .contenedor-nav{
        
        flex-wrap: nowrap;
    }
    
    
}


@media (min-width:1024px) {
    a:active{
        color: black;
    
    }
   

    

    
    .header{
        padding: 1.25rem;
        box-shadow: $box-shadow;

        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2,12vh);
        grid-template-areas: 
        "logo logo"
        "nav nav";

        .logo {
            margin-bottom: 20px;
            text-transform: uppercase;
            text-align: map-get($estilos,centro);
            letter-spacing: 3px;
    
            grid-area: logo;

            h1{
        
                font-size: 1.25rem;
                text-align: map-get($estilos,centro);
            }
    
        
            
        }

        .contenedor-div{
            border-top: $border-card;
            border-bottom: $border-card;
            
            
     
        }

        .grid{
            grid-area: nav;
            
            a {
                color:#000;
            }

        }
        

       
    }
    
    .logo .iniciales-logo {
        padding: 0.3125rem;
        border: 2px solid #000;
        display: inline-block;
        font-size: 16px;
        margin-bottom: 15px;
    }
    
    
    #actividades-fisicas{
        display: grid;

        grid-template-columns: 35vh 1fr;
        grid-template-rows: 60vh;
        grid-template-areas: 
        "titulo act";

        h3{
            transform: rotate(-90deg);
            grid-area: titulo;
    
        }
    }

   

    .contenedor-act{
        grid-area: act;
       
    }


    .horarios-clases{
        display: grid;
        grid-template-columns: 35vh 1fr;
        grid-template-rows: 50vh;
        grid-template-areas: 
        "titulo hora";

    }

    .titulo-horarios{
        transform: rotate(-90deg);
        grid-area: titulo;

        
    }


    .tabla-horarios{
        grid-area: hora;

    }

    .arreglos{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(4,1fr);
        grid-template-areas: 
        
        "img-funcional texto"
        "img-musculacion texto1"
        "img-natacion texto2"
        "img-zumba texto3";
    }


    .imagen1-funcional{
        grid-area:img-funcional;
        object-fit: cover;
    }

    .funcional{
        grid-area:texto;
    }

    .imagen2-musculacion{
        grid-area:img-musculacion;
        object-fit: cover;
    }

    .musculacion{
        grid-area: texto1;
    }

    .imagen3-natacion{
        grid-area: img-natacion;
        object-fit: cover;
    }

    .natacion{
        grid-area:texto2;
    }

    .imagen4-zumba{
        grid-area: img-zumba;
        object-fit: cover;
    }

    .zumba{
        grid-area: texto3;
    }

   

    
       
}

@media(min-width:768px){
    
    .navbar-toggler{
        padding: 4px 10px;
        
        font-size: 20px;
        line-height: 1;
        background-color: transparent;
        border: 1px solid transparent;
        border-radius: 0.25rem;
        transition: box-shadow 0.15s ease-in-out;
     }
}

@media (max-width:768px){

    .header{
        
        display: grid;
        grid-template-columns: 15vh 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: 
        "nav logo"
        ;

        .logo {
            grid-area: logo;

                
            
        }

        
    }

    .grid{
        grid-area: nav;
    }

    .header {
        .logo{
            h1{
                font-size: 0.9375rem;
            }
        }       
    }

    .mainIndex{
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(3,1fr);
    grid-template-areas: 
    "portada portada"
    "info info"
    "footer footer";
    }
    
    nav ul {
        display: flex;
        justify-content: space-around;
        font-size: 1rem;
    }

   


    .contenedor-img img{
        width: 100%;
        height: 100%;
    }

    .texto-descripcion{
        font-size: 1rem;
        font-weight: 300;

        margin-bottom: 20px;
        display: flex;
        text-align: map-get($estilos,centro);
    }

    .navbar{
        height: 50%;
    }

    .navbar-toggler{
        padding: 4px 10px;
        
        font-size: 20px;
        line-height: 1;
        background-color: transparent;
        border: 1px solid transparent;
        border-radius: 0.25rem;
        transition: box-shadow 0.15s ease-in-out;
    }

    .navbar-collapse{
        background-color: white;
        border: $border-card;
        
    }

    iframe{
        width:50%;
        height: 50%;
    }

    .portada-bienvenida{
        z-index: 10;
    }

    #actividades-fisicas{
        display: grid;
        grid-template-columns: 100vh;
        grid-template-rows: repeat(20vh, 1fr);
        grid-template-areas: 
        "actividades"
        "contenedor-act";
    }

    h3{
        grid-area: actividades;
    }

    .contenedor-act{
        grid-area: contenedor-act;
        justify-content: space-around;

        display: grid;
        
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas: 
        "funcional musculacion"
        "natacion zumba";

    }

    .actividad-1{
        grid-area:funcional;
    }
    .actividad-2{
        grid-area: musculacion;
    }
    
    .actividad-3{
        grid-area: natacion;
    }

    .actividad-4{
        grid-area: zumba;
    }

}

@media(max-width:620px){
    
    #actividades-fisicas{
        
        display: grid;
        grid-template-columns: 95vh;
        grid-template-rows: repeat(20vh, 1fr);
        grid-template-areas: 
        "actividades"
        "contenedor-act";
    }

    h3{
        grid-area: actividades;
        font-size: 1.2rem;
    }

    .contenedor-act{
        grid-area: contenedor-act;
        justify-content: space-evenly;
        
        
        display: grid;
        grid-template-columns: 30vh 30vh;
        grid-template-rows: repeat(2, 60vh);
        grid-template-areas: 
        "funcional musculacion"
        "natacion zumba";

    }

    .actividad-1{
        grid-area:funcional;
        width: 130%;
        height: 90%;
    }
    .actividad-2{
        grid-area: musculacion;
        width: 130%;
        height: 90%;
    }
    
    .actividad-3{
        grid-area: natacion;
        width: 130%;
        height: 90%;
    }

    .actividad-4{
        grid-area: zumba;
        width: 130%;
        height: 90%;
    }
}

@media (max-width:320px){
    .header{
        
        display: grid;
        grid-template-columns: 15vh 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: 
        "nav logo"
        ;

        .logo {
            grid-area: logo;

        }

        
    }

    .grid{
        grid-area: nav;
    }

    .navbar-collapse{
        background-color: white;
        border: $border-card;
        
    }
    
    .tabla-horarios{
        font-size: 0.5rem;
    }

    .horarios-clases{
        padding: 0.625rem;
    }
    
    .titulo-horarios{
        font-family: $font-family;
        font-size: 1.2rem;
    
        padding: 0.625rem;
    }
    
    

    

    .portada-bienvenida{
        border: $border-card;
        display: grid;

        grid-template-columns: 35rem;
        grid-template-rows: repeat(2,30vh) ;

        grid-template-areas: 
        "titulo"
        "descripcion"
        "img";
        .contenedor-texto{
            padding: 10px;
            width: 55%;
        
            display: flex;
            flex-direction: column;
            justify-content: space-around;
        }
    }

    .titulo-bienvenida{
        grid-area:titulo;
        font-size: 1.2rem;
        display:flex;
        text-align: map-get($estilos,centro);
    }

    .texto-descripcion{
        grid-area:descripcion;
        font-size: 0.7rem;

        margin-bottom: 10px;

        display: flex;
        text-align: map-get($estilos,centro);
    }



    .contenedor-img img{
        grid-area:img;
        height: 80%;
        width: 57%;

        display: flex;
    }
    
    
    /* ACTIVIDADES */

    #actividades-fisicas{
        
        display: grid;
        grid-template-columns: 100vh;
        grid-template-rows: repeat(20vh, 1fr);
        grid-template-areas: 
        "actividades"
        "contenedor-act";
    }

    h3{
        grid-area: actividades;
        font-size: 1.2rem;
    }

    .contenedor-act{
        grid-area: contenedor-act;
        
        
        display: grid;
        grid-template-columns: 30vh 30vh;
        grid-template-rows: repeat(2, 60vh);
        grid-template-areas: 
        "funcional musculacion"
        "natacion zumba";

    }

    .actividad-1{
        grid-area:funcional;
        width: 130%;
        height: 70%;
    }
    .actividad-2{
        grid-area: musculacion;
        width: 130%;
        height: 70%;
    }
    
    .actividad-3{
        grid-area: natacion;
        width: 130%;
        height: 70%;
    }

    .actividad-4{
        grid-area: zumba;
        width: 130%;
        height: 70%;
    }


    
    .header {
        .logo {
            margin-bottom: 10px;
            
            text-align: map-get($estilos,centro);
            letter-spacing: 2px;
            h1{
        
                font-size: 0.9375rem;
            }
        }
    }
    
    .logo .iniciales-logo {
        padding: 5px;
       
        display: inline-block;
        font-size: 0.625rem;
        margin-bottom: 15px;
    }
    
    nav ul {
        display: flex;
        justify-content: space-around;
        font-size: 0.6rem;
    }

   
    footer{
        width: 100%;
        
        font-size: 0.9rem;
       
        text-align: map-get($estilos,centro);
        align-items: map-get($estilos,centro);

        .contenedor-f{

            display: flex;
            flex-direction: column;
                
           

            .titulos-footer{
                font-weight: bold;
                font-size: 0.8em;
        
                text-align: map-get($estilos,centro);
                align-items: map-get($estilos,centro);
            }
    
            
        }

    }

    
    .tituloPrincipal{
        font-size: 1.5rem;
    }

    .tituloDiv{
        font-size: 1rem;
    }

    .subtituloDiv{
        font-size: 0.9rem;
    }

    .textos{
        font-size: 0.8rem ;
    }

    .main-actividades img{
        width: 100%;

    }

    

    .subTexto{
        font-size: 1.8rem;
    }

    form{
        text-align: map-get($estilos,centro);
        font-size: 0.8rem;
    }
    
   

    

    .tituloTarjeta{
        font-size: 1rem;    
    }


    

    .inicioUbi{
        img{

        padding: 20px;
        width: 100%;
        }
        .tituloUbi{
        
            font-size: 1.5rem;
            
        }

    }

    .clickUbi{
        
        font-size: 0.8rem;
        
    }

    .navbar-toggler{
        padding: 4px 10px;
        
        font-size: 20px;
        line-height: 1;
        background-color: transparent;
        border: 1px solid transparent;
        border-radius: 0.25rem;
        transition: box-shadow 0.15s ease-in-out;
    }

    iframe{
        width:50%;
        height: 50%;
    }
}

@media(min-width:320px){
   
    
    #actividades-fisicas{
        overflow-x: scroll;
    }
}

@media (max-width:1000px){
    .header{
        
        display: grid;
        grid-template-columns: 15vh 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: 
        "nav logo"
        ;

        .logo {
            grid-area: logo;

                
            
        }

        
    }

    .grid{
        grid-area: nav;
    }
}