

.tituloPrincipal{
    font-family: $font-family;
    font-size: 2rem;

    padding: 0.625em;
}

.tituloDiv{
    font-family: $font-family;
    font-weight: normal;
    font-size: 1.25rem;

    padding: 0.625em;
}

.subtituloDiv{
    font-family: $font-family;
    font-weight: normal;
    font-size: 1rem;

    padding: 0.625em;
    .spanNew{
        font-weight: bold ; 
        color: $color-principal;
    }
}

.textos {
    font-family: $font-family;

    padding: 0.625em;
}

.linea{
    width: 50%;
    justify-content: center;
    align-items: center;
}


.imagen1-funcional{
    width: 80%;
    height: 80%;
    
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.imagen2-musculacion{
   @extend .imagen1-funcional;

}

.imagen3-natacion{
    @extend .imagen1-funcional;
}

.imagen4-zumba{
    @extend .imagen1-funcional;
}
