*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}


th{
    color: $color-principal;
}


a:visited{
    color: black;
    

    
    &:hover{
        color: orange;
        background-color: #ffffff;
    }

}
a:active{
    color: $color-principal;
}
a:link{
    text-decoration: none;
}






.header{
    background-color: #ffffff;
    padding: 1.25rem;
    box-shadow: $box-shadow;

    .logo {
        margin-bottom: 20px;
        text-transform: uppercase;
        text-align: map-get($estilos,centro);
        letter-spacing: 3px;

        h1{
    
            font-size: 1.875rem;
        }
    }
    
}

.logo .iniciales-logo {
	padding: 0.3125rem;
	border: 2px solid #000;
	display: inline-block;
	font-size: 16px;
	margin-bottom: 15px;
}



.portada-bienvenida{
    justify-content: center;
    

    img {
       
        width: $width;
        height: $height;
    } 
}

.contenedor-texto{
    justify-content:space-around;
    
    .titulo-bienvenida{
        margin-bottom: 10px;
        font-size: 1.5625rem;
    
        font-weight: 400;
    
        text-align: map-get($estilos,centro);
    }
    .texto-descripcion{
        font-size: 1.25rem;
        font-weight: 300;
    
      
        color: $color-texto-descrip;
        text-align: map-get($estilos,centro);
        
        
    }
    .saludo{
        text-align: end;
        color: orange;
        
    }
}

#actividades-fisicas h3{
    padding: 0.5625rem;

    font-family: $font-family;
    font-size: 2rem;

}

.actividades-1{
    padding: 1.25rem;
    display: flex;
    flex-direction: column;
    justify-content: map-get($estilos,centro);
    align-items: map-get($estilos,centro);
    

    h4{
        text-align: map-get($estilos,centro );
        font-family: $font-family;
        font-weight: 400;
        font-size: 1rem;
    }

    &:hover{
        transform: scale(1.2);
    }
}

.actividades-2{
    @extend .actividades-1;
}

.actividades-3{
    @extend .actividades-1;
}

.actividades-4{
    @extend .actividades-1;
}


.contenedor-act{
    padding: 1rem;
    width: 50%;
  

    display: flex;
    align-items: map-get($estilos,centro);

    img{
        object-fit: cover;
        width: 100%;
        height: 200px;
    }

    
    
}


.horarios-clases{
    padding: 1.25rem;

    display: flex;
    flex-direction: column;

    grid-area: info;
}

.titulo-horarios{
    font-family: $font-family;
    font-size: 2rem;

    padding: 0.625rem;
    padding-bottom: 2.5rem;

    
}

.tabla-horarios{
    font-family: $font-family;
    font-size: 1.25rem;
    text-align: map-get($estilos,centro);
}







