.inicioUbi{
    text-align: center;
    .tituloUbi{
        font-family: $font-family;
        font-size: 2rem;
        text-align: center;
    }
}

.clickUbi{
    font-family: $font-family;
    font-size: 1rem;
    text-align: center; 
}